html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  text-align: center;
  /*background-color: #910000aa;*/
  background-color: #252525;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: #725b5e;
  text-decoration: none;
}

h1 {
  color: #5c2641;
  background-color: #fff;
  display: inline;
  padding: 0 5px 0 5px;
}

h4 {
  color: #999;
  text-align: left;
  padding-left: 80px;
}

p {
  /*color: #775b5f;*/
  color: #725b5e;
}

.info {
  color: #5c2641;
  text-align: justify;
  padding: 0 80px 30px 80px;
}

/* Logo */
.logo {
  color: #775b5f;
  margin: 50px 0;
  z-index: 0;
}

.content {
  min-height: 400px;
}

/* Gallery grid */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 15px;
}

.container > a {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.container > a img {
  align-self: stretch;
  justify-self: stretch;
  object-fit: cover;
  border: 10px solid #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: opacity .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.container a img:hover {
  border: 10px solid #e42641;
  opacity: 1;
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.portrait {
  grid-row: auto / span 2;
}

.border {
  border: 10px solid #fff;
}

.fit-left {
  object-position: left;
}

.fit-right {
  object-position: right;
}

.containerpro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-column-gap: 10px;
  text-align: left;
  background-image: linear-gradient(to top, #252525, #000, #252525);
}

.contentpro {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 20px;
  align-items: flex-start;
}

/* Filters */
#galleryContainer {
  text-align: center;
  margin-bottom: 50px;
  color: #5c4c4d;
}

.column {
  display: none;
}

button {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #ddd; /* #5c2641; */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.show {
  display: block;
}

/* Footer */
footer {
  height: 100px;
  color: #fff;
  background-image:linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05));
  margin-top: 50px;
  padding-top: 50px;
}
